
/* ---Document Wide Styling--- */
:root {
    --glassy-gradient: radial-gradient(at bottom right, #b5e0ddff 0%, #cfccccff 50%, #daddd4ff 75%, #cee2b5ff 100%);
    --banana-gradient: linear-gradient(210deg, #fdfa23 0%, rgb(217, 255, 0) 60%, rgb(200, 255, 0) 100%);
    --dark-gray: #2c2c2c;

    --standard-box-shadow: 0px 4px 8px 0px #85858567;
}

* {
    color: var(--dark-gray);
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

body {
    background: var(--glassy-gradient);
    margin: 0;
}

h1, h2, h3 {
    font-kerning: none;
    font-weight: 400;
}

/* ---Navigation Menu Styling - Includes links to sections within the webpage--- */
nav {
    padding: 10px 10%;
    display: flex;
    justify-content: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: large;

    padding: 15px;
    background-color: rgb(255,255,255,0.5);
    font-weight: bold;
}

/* ---Header Styling--- */
header {
    background-color: var(--dark-gray);
    padding: 20px;
    box-shadow: var(--standard-box-shadow);
}

header h1 {
    margin: 0;
    color: #fff;
}

main {
    box-sizing: border-box;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1% 3%;
    box-shadow: var(--standard-box-shadow);
    background-color: #fff;
}

em {
    background: var(--banana-gradient);
    font-style: normal;
}

/* ---General Section Styling - includes About Me, Previous Work, and Contact-- */
section {
    background-color: #fff;
}

section h2 {
    background: var(--glassy-gradient);

    margin: 1vh 0 10px 0;
    padding: 10px;
    width: fit-content;
}

img {
    width: 250px;
    border-radius: 5px;
}

/* About Me Section Styling */
section#about_me img {
    display: inline;
    border-radius: 50%;
}

section#about_me p {
    text-align: justify;
}

/* Previous Work Section Styling */
section#previous_work {
    display: flex;
    flex-wrap: wrap;
}

section#previous_work h2 {
    display: block;
    flex-wrap: nowrap;
}

.portfolio_piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 30%;

    width: fit-content;
    margin: 1%;
    padding-bottom: 10px;

    border-radius: 15px;
    background: linear-gradient(0deg, rgb(250, 250, 250) 0%, #fff);
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.4);
}

.portfolio_piece:hover {
    box-shadow: inset 0px 3px 6px 0px rgba(131, 131, 131, 0.5);
}

.portfolio_piece img {
    filter:blur(5px);
}

.portfolio_piece img:hover {
    filter:blur(0px);
    box-shadow: var(--standard-box-shadow);
}

.portfolio_piece h3 {
    /*  I use 'border-bottom' instead of 'text-decoration' to underline the text so that hanging letters (g, y) are not cut off */
    border-bottom: 1px solid var(--dark-gray);
}

.portfolio_piece aside {
    padding: 10px;
}

/**********Comment this out**********/
.portfolio_piece#first_work {
    flex: 2 1 100%;
}
/**********Comment this out**********/

.portfolio_piece#first_work img {
    width: 500px;
}

/* Contact Section Styling */
#contact section{
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

footer {
    padding: 30px;
    text-align: center;
}

/* ---Mobile (phone, tablet) Styling--- */
@media screen and (max-width: 768px) {
    nav {
        /* padding: 10px 10%; */
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav ul li {
        display: flex;
        align-items: center;
        flex: 1 0 25%;

        margin: 1%;
        padding-bottom: 0;
    }


    header {
        min-width: fit-content;
    }

    main {
        width: 100%;
        margin: 0;
    }

    .portfolio_piece {
        flex: 1 0 20%;
    
        width: fit-content;
        margin: 1%;
        padding-bottom: 10px;
    }

    .portfolio_piece#first_work img {
        width: 300px;
    }

    #contact section {
        display: block;
        padding: 10px;
    }

    #contact section > div {
        display: block;
        padding: 10px;
        margin: 0 auto;
    }

    .contact_info {
        margin-bottom: 1vh;
        /* margin-left: 25%; */
    }
}
